---

---

<a class="text-[13px] mr-4 px-[15px] py-0 bg-[#003366] [transition:background-color_0.15s_linear] uppercase tracking-widest rounded-[4px] border-0 font-medium inline-block text-white no-underline !bg-[#FFCA0A] !items-center outline-[none] cursor-pointer m-0" style="background-color: rgb(255, 202, 10);vertical-align: middle;" href="https://www.charitywater.org/" target="_blank">
	<div class="!font-[&quot;Proxima_Nova&quot;,_sans-serif] !font-medium !text-[0.7rem] !leading-[0.8rem] !tracking-[0.1rem] !uppercase m-0 p-0 text-blue-700 font-bold">Give</div>
	<img class="!ml-2 max-w-full h-auto block align-middle border-solid m-0 p-0" src="data:image/svg+xml,%3csvg%20fill='none'%20height='18'%20viewBox='0%200%2013%2018'%20width='13'%20xmlns='http://www.w3.org/2000/svg'%20xmlns:xlink='http://www.w3.org/1999/xlink'%3e%3cclipPath%20id='a'%3e%3cpath%20d='m.043457.549805h12.62v16.9h-12.62z'/%3e%3c/clipPath%3e%3cg%20clip-path='url(%23a)'%3e%3cpath%20d='m6.70353%2016.94c-3.2.24-6.01-2.17-6.25-5.37-.24-3.19996%204.56-9.58996%204.76-9.86996l.31-.41.36.36c.24.24%205.94997%205.94%206.18997%209.03996.24%203.1-2.16997%206-5.36997%206.25z'%20fill='%23fff'/%3e%3cpath%20d='m5.91349%2016.8199c-2.79.21-5.229999-1.89-5.439999-4.68-.21-2.68996%203.959999-8.34996%204.139999-8.58996l.27-.36.32.31c.21.21%205.19001%205.18%205.39001%207.86996.21%202.79-1.89001%205.23-4.68001%205.44z'%20fill='%235493d3'/%3e%3cpath%20d='m6.79366%2016.9296c-3.2.24-5.999997-2.16-6.239997-5.36-.24-3.09003%204.539997-9.57003%204.749997-9.85003l.3-.41.36.36c.24.24%205.94004%205.93%206.18004%209.02003.24%203.09-2.16004%205.99-5.36004%206.24z'%20stroke='%231a1a1a'%20stroke-linecap='round'%20stroke-miterlimit='10'/%3e%3c/g%3e%3c/svg%3e" />
</a>
